{% extends 'base_publico.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'OwlCarousel/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'OwlCarousel/dist/assets/owl.theme.default.min.css' %}">

<style>
  #chartdiv {
  width: 100%;
  max-height: 600px;
  height: 100vh;
}
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="negrito grey-text text-darken-3">Estatísticas</h4>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="negrito grey-text text-darken-3">Top Universidades</h5>
      </div>
    </div>
    <div class="row">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="borda borda-1 hoverable">
            <div class="row">
              <div class="col s12 m3 l3">
                <img src="{% static 'user.png' %}" class="espaco-m-top-2" style="width: 100%;" alt="">
              </div>
              <div class="col s12 m9 l9">
                <h6 class="negrito teal-text">Geek University</h6>
                <span class="texto-0 negrito">Python, System Programming</span>
                <span class="texto-0"><span class="negrito">104</span> alunos</span> <br>
                <span class="texto-0"><span class="negrito">104</span> cursos</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="negrito grey-text text-darken-3">Preferência por universidades</h5>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div id="chartdiv"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">

    <div class="row">
      <div class="col s12 center">
        <h4>Mais detalhes</h4>
        <div class="borda-titulo-0 center-block"></div>
        <h6>Veja traduzidos em números as preferências dos estudantes</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l8">
        <h5 class="negrito">Universidade</h5>
        <ul class="collection sem-borda">
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
      <div class="col s12 m6 l4">
        <h5 class="negrito">Candidatos</h5>
        <ul class="collection sem-borda">
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
      
    </div>
  </div>
</section>

<script type="text/javascript" src="{% static 'OwlCarousel/dist/owl.carousel.min.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      items: 5,
      loop: true,
      margin: 20,
      nav: true,
      navText: ["Anterior", "Próximo"],
      autoplay: true,
      autoplayTimeout: 2000,
      dots: true,
      responsive: {
        0: {
          items: 1
        },
        360: {
          items: 1
        },
        600: {
          items: 3
        },
        900: {
          items: 5
        }
      }
    });
  });
</script>

<script src="{% static 'amcharts4/core.js' %} "></script>
<script src="{% static 'amcharts4/charts.js' %} "></script>
<script src="{% static 'amcharts4/themes/animated.js' %} "></script>
<!-- <script src="{% static 'amcharts4/examples/javascript/simple-column-chart/index.js' %} "></script> -->


<script>
  am4core.useTheme(am4themes_animated);

var chart = am4core.create("chartdiv", am4charts.XYChart);

chart.data = [{
	"country": "USA",
	"visits": 3025
}, {
	"country": "China",
	"visits": 1882
}, {
	"country": "Japan",
	"visits": 1809
}, {
	"country": "Germany",
	"visits": 1322
}, {
	"country": "UK",
	"visits": 1122
}, {
	"country": "France",
	"visits": 1114
}, {
	"country": "India",
	"visits": 984
}, {
	"country": "Spain",
	"visits": 711
}, {
	"country": "Netherlands",
	"visits": 665
}, {
	"country": "Russia",
	"visits": 580
}, {
	"country": "South Korea",
	"visits": 443
}, {
	"country": "Canada",
	"visits": 441
}];

chart.padding(40, 40, 40, 40);

var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.minGridDistance = 60;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "country";
series.dataFields.valueY = "visits";
series.tooltipText = "{valueY.value}"
series.columns.template.strokeOpacity = 0;

chart.cursor = new am4charts.XYCursor();

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function (fill, target) {
	return chart.colors.getIndex(target.dataItem.index);
});
</script>
{% endblock %}