{% extends 'base_publico.html' %}
{% load static %}
{% block title %}Central de ajuda {% endblock %}
{% block content %}

 <!-- banner inicial -->
 
<div class="container">
    <div class="row espaco-m-top-1">
        <div class="col s12 m12 l12">
            <div class="politica">
                <h4 class="negrito center">POLÍTICA DE PRIVACIDADE</h4>
                <h5 class="negrito center">preparese.ao</h5>
                
                <h6>Actualizado: 01/11/2021</h6>
                <hr>

                <p>O sítio do Portal da preparese.ao adopta práticas que visam
                    proporcionar ao
                    utilizador um acesso, com privacidade e credibilidade, às
                    informações
                    institucionais e aos serviços disponibilizados através do
                    Portal.</p>

                <p>O presente documento tem como objectivo apresentar as
                    directrizes da Política
                    de Privacidade, incluindo os procedimentos relativos a
                    colecta, uso e
                    divulgação de dados pessoais dos utilizadores dos serviços
                    do Portal.</p>

                <h5>1. Direito de Autor</h5>
                <p>É autorizada a reprodução total ou parcial sem fins
                    lucrativos do conteúdo
                    deste sítio, desde que citada a fonte, mantendo-se a
                    integridade das
                    informações. A utilização, de qualquer natureza, das logo
                    marcas da preparese.ao e
                    Giramais é vedada a terceiros.</p>

                <h5>2. Utilização de links para o Portal</h5>
                <p>É autorizada a inserção de links para este Portal em outros
                    sítios,
                    levando-se em conta as seguintes observações:</p>
                <ul style="list-style: none;">
                    <li>2.1 – a preparese.ao não se responsabiliza por alterações
                        promovidas nos links
                        do seu sítio;</li>
                    <li>2.2 – não é permitido a nenhum domínio utilizar como sua
                        página inicial
                        o acesso directo à página inicial do sítio deste Portal.</li>
                </ul>

                <h5>3. Links a sítios externos</h5>
                <p>O sítio do Portal pode conter links para outros sítios. A
                    preparese.ao não se
                    responsabiliza pelas práticas de privacidade ou pelo
                    conteúdo desses outros
                    sítios.</p>

                <h5>4. Conteúdo do Sítio</h5>
                <p>A preparese.ao não se responsabiliza por eventuais erros, imprecisões
                    ou omissões nos
                    materiais contidos neste sítio ou naqueles disponibilizados
                    através de links
                    de outros sítios, e por quaisquer prejuízos resultantes das
                    informações
                    apresentadas. Em qualquer momento, a preparese.ao reserva o direito
                    de alterar as
                    informações contidas neste sítio.</p>

                <h5>5. Utilização dos cookies</h5>
                <p>A utilização dos cookies é necessária para o processamento de
                    consultas em
                    determinadas bases de dados, evitando a acção de mecanismos
                    de pesquisa
                    automáticos. Para que a consulta seja realizada, o navegador
                    do utilizador
                    deve estar habilitado para gravação dos cookies.</p>

                <h5>6. Tipos de dados pessoais colectados</h5>
                <p>Ao usar o nosso Serviço, podemos solicitar que o utilizador
                    nos forneça
                    certos dados de identificação pessoal, que podem ser usadas
                    para o contactar
                    ou identificar.</p>
                <p>Os dados de identificação pessoal podem incluir, mas não se
                    limitam a:</p>
                <ul>
                    <li>Nome e sobrenome</li>
                    <li>Data de nascimento</li>
                    <li>Género</li>
                    <li>Endereço de e-mail</li>
                    <li>Número de telefone</li>
                    <li>Endereço, província, município, cidade</li>
                    <li>Dados de uso</li>
                </ul>
                <p>
                    Os Dados de Uso são colectados automaticamente ao usar o
                    Serviço.
                </p>

                <h5>
                    7. Uso dos dados pessoais
                </h5>
                <p>
                    Usamos os seus dados pessoais para fornecer e melhorar o
                    Serviço. Ao usar o
                    Serviço, você concorda com a colecta e uso de dados de
                    acordo com esta
                    Política de Privacidade.
                </p>
                <p>
                    A preparese.ao pode usar Dados Pessoais para os seguintes fins:
                </p>
                <ul>
                    <li>
                        Para fornecer e manter o Serviço, incluindo monitorar o
                        uso do mesmo.
                    </li>
                    <li>
                        Para gerir a sua conta, o seu registo como um utilizador
                        do Serviço; os
                        Dados Pessoais fornecidos podem dar-lhe acesso a
                        diferentes
                        funcionalidades do Serviço, que estão disponíveis para
                        utilizadores
                        registados.
                    </li>
                    <li>
                        Para o desenvolvimento, conformidade e realização do
                        contrato de compra
                        dos produtos ou serviços que adquiriu ou de qualquer
                        outro contrato
                        connosco por meio do Serviço.
                    </li>
                    <li>
                        Para contactá-lo por e-mail, telefone, SMS ou outras
                        formas equivalentes
                        de comunicação eletrónica, como notificações push de
                        aplicativo móvel,
                        sobre actualizações ou comunicações informativas
                        relacionadas com as
                        funcionalidades, produtos ou serviços contratados,
                        incluindo as
                        actualizações de segurança, quando necessário ou
                        razoável para a sua
                        implementação.
                    </li>
                    <li>
                        Para lhe fornecer notícias, ofertas especiais e
                        informações gerais sobre
                        outros produtos, serviços e eventos que oferecemos, a
                        menos que você
                        tenha optado por não receber tais informações.
                    </li>
                    <li>
                        Para atender e gerir os seus pedidos, sugestões e
                        reclamações.
                    </li>
                    <li>
                        Podemos usar os seus dados para outros fins, como
                        análise de dados,
                        identificação de tendências de uso, determinação da
                        eficácia das nossas
                        campanhas de divulgação e para avaliar e melhorar os
                        nossos serviços,
                        produtos, marketing e a sua experiência de utilização
                    </li>
                </ul>
                <h5>8. Direitos relativos aos Dados Pessoais</h5>
                <p>O utilizador pode exercer os seguintes direitos relativos aos
                    seus Dados
                    Pessoais:</p>
                <ol>
                    <li>Solicitar acesso aos dados pessoais: o direito de
                        aceder, actualizar ou
                        apagar os dados.</li>
                    <li>Solicitar correção dos Dados Pessoais: o direito de que
                        qualquer
                        informação incompleta ou imprecisa seja corrigida.</li>
                    <li>Objecção de processamento de Dados Pessoais: o direito
                        de objecção ao
                        processamento, quer para fins considerados de interesse
                        legítimo quer
                        para fins de marketing direct</li>
                    <li>
                        Solicitar o apagamento dos dados pessoais: o direito de
                        solicitar a
                        exclusão ou remoção de Dados Pessoais.
                    </li>
                    <li>
                        Solicitar a transferência de Dados Pessoais: direito a
                        receber os Dados
                        Pessoais num formato estruturado, comummente usado e
                        legível por
                        máquina.
                    </li>
                    <li>
                        Retirar o consentimento: o direito de retirar
                        consentimento sobre o uso
                        de Dados Pessoais, sabendo que isso pode implicar a
                        indisponibilidade de
                        determinadas informações ou serviços.
                    </li>
                </ol>

                <h5>9. Utilização de cookies</h5>
                <p>
                    A utilização de cookies é necessária para o processamento de
                    consultas em
                    determinadas bases de dados, evitando a acção de mecanismos
                    de pesquisa
                    automáticos. Para que a consulta seja realizada, o navegador
                    do utilizador
                    deve estar habilitado para gravação dos cookies.
                </p>

                <h5>10. Actualização da Política de Segurança e Privacidade</h5>
                <p>
                    Este documento poderá ser alterado pela equipe gestora do
                    Portal, a qualquer
                    momento que julgue conveniente. A data da modificação será
                    registada na área
                    "Actualizado" exibida na parte superior deste documento.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}