{% extends 'base_gestao.html' %}
{% load static %}
{% block content %}

<style>
 

  .preparatorio{
    color: #fafafa;
    background-color: #9f9f9f;
  }

  .rodape-pub, footer{
    display: none;
  }

  footer{
    border-top: none;
  }

  .borda{
    border: 1px solid #d9d9d9 !important;
  }

  hr{
    display: none;
  }
  .collection-item{
    display: inline-block;
  }
</style>

<!-- fim banner inicial -->
<div class="row preparatorio">
  <div class="col s12 m12 l12">
    <h4>{{objecto.tituloCurso}} </h4>
  </div>
</div>
<div class="" id="duvidas">
  <div class="row">
    <div class="col s12 m12 l4">
      <div style="max-height: 400px !important; overflow-y: auto;">
        <div class="hide-on-large-only espaco-p-1">
          <a href="#modal1" class="negrito z-depth-0 borda-3 green btn-block modal-trigger btn espaco-m-top-1">Ver playlist completa <span class="fa fa-play-circle"></span></a>
        </div>
        <div class="hide-on-med-and-down">
          <h6>Lista de reprodução do curso:</h6>
            {% for item in videos %}
          <p class="grey lighten-1 espaco-p-1 "><a href="{% url 'gestaoInterna:curso-detalhes-gestao' pk=item.id %}" class="text-gray negrito">{{forloop.counter}} - {{item.tituloVideo}}  </a></p>
          <!-- <p class="grey darken-2 espaco-p-1 borda-2-right-top-bottom"><a href="#" class="text-gray">{{forloop.counter}} - {{item.tituloVideo}}  </a></p> -->
          {% endfor %}
        </div>
      </div>

    </div>
    <div class="col s12 m12 l8">
      <div class="borda grey lighten-1" style="padding: 2%;">
        <output>
          <video src="{% static videosObjecto.video.url %}" controls="controls" style="width: 100%; height:400px; object-fit: contain;"></video>
        </output>

      </div>
      <div class="">
       
        <h5>{{videosObjecto.tituloVideo}} </h5>
        <p>
            {{videosObjecto.descricao|safe}}
        </p>
        <h6>O professor:</h6>
        <div class="chip">
          <img src="{% static 'user.png' %} " alt=""> <span class="texto-capitalizado">  <a href="{%  url 'gestaoInterna:professores-gestao-detalhes' pk=professor.user.id %} ">{{objecto.user.first_name}} {{objecto.user.last_name}}</span></a>
        </div>
      </div>
      <div class="">
                    <p><a href="{% url 'gestaoInterna:professores-gestao-detalhes' pk=objecto.user.id %} "><span class="fa fa-chevron-left"></span> Voltar detalhes de {{objecto.user.first_name}} {{objecto.user.last_name}}</a></p>
        
        <p>Total de dúvidas: {{totDuvidas}} </p>
        <p><a href="{% url 'gestaoInterna:professores-gestao-detalhes' pk=objecto.user.id %} "><span class="fa fa-chevron-left"></span> Voltar detalhes de {{objecto.user.first_name}} {{objecto.user.last_name}}</a></p>

      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h5 class="negrito">Lista de reprodução</h5>
    <ul class="collection">
        {% for item in videos %}
        <li class="collection-item">
            <p><a href="{% url 'gestaoInterna:curso-detalhes-gestao' pk=item.id %}" class=" borda-baixo espaco-p-1">{{forloop.counter}}. {{item.tituloVideo}}</a></p>
        </li>
        {% endfor %}
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });

</script>

{% endblock %}
