
{% extends 'base_professor.html' %}
{% load static %}
{%  block title%}Novo curso {% endblock %}
{% block content %}

<section style="min-height: 100vh;" class="espaco-m-top-0">
	<div class="container">
		<div class="row">
			<div class="col s12 m5 l5">
				<img src="{% static 'foto.png' %}" class="responsive-img" alt="">
				<p>{{objecto.descricao}} </p>
			</div>
			<div class="col s12 m6">
				<h3 class="negrito red-text text-darken-2"><span class="fa fa-exclamation-triangle"></span> Aviso </h3>
				<div class="borda-titulo-0"></div>
				<p class="texto-1 negrito">Está prestes a eliminar permantemente este curso</p>
				<p>O curso possui:</p>
				<ul class="collection">
					<li class="collection-item">{{totVideos}} vídeo(s) publicados</li>
					<li class="collection-item">{{matrilados}} aluno(s) incritos</li>
				</ul>

				<h6 class="negrito">Tem certeza que deseja eliminar?</h6>
				<div class="borda-top espaco-p-1">
					<a href="{% url 'professor:detalhes-curso' pk=objecto.id %} " class="btn borda-3 z-depth-0"><span class="fa fa-chevron-left"></span> Não, voltar</a>
					<a href="{% url 'professor:eliminar-curso' pk=objecto.id %} " class="red-text z-depth-0 btn borda borda-3 right white"><span class="fa fa-trash"></span> Sim, eliminar</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
