{% extends 'base_gestao.html' %}
{% block title %} Magazine Gestão {% endblock %}
{% block content %}
{% load static %}

<nav class="white z-depth-0">
    <div class="container nav-wrapper">
        <div class="col s12 right">
            <a class="disabled grey-text">Magazine gestão </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h4 class="grey-text text-darken-2 negrito">Editar artigo  </h4>
        
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s12 m6">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="espaco-m-baixo-1">
                            {{form.titulo}}
                        </div>
                        <button type="submit" class="btn borda-2 blue z-depth-0">Actualizar <span class="fa fa-save"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}