{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %} | prepare-se</title>
	<link rel="stylesheet" href="{% static 'publico/custom/css/estilo-geral.css' %}">
	<link rel="stylesheet" href="{% static 'publico/custom/css/temaEscuro.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'materialize/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'publico/fontawesome/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'publico/icomoon/style.css' %}">
	<script src="{% static 'jquery/jquery.js' %}"></script>
	<script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'materialize/materialize.js' %}"></script>
	<script src="{% static 'custom/js/main.js' %}"></script>
	<script src="{% static 'notifyjs/notify.js' %} "></script>

</head>

<body class="light" style="min-height: 100vh;">

	<ul id='dropdown-perfil' class='dropdown-content'>
		<li><a href="" class="grey-text text-darken-2">Minha conta</a></li>
		<li><a href="{% url 'accounts:logout-user' %}" class="grey-text text-darken-2">Terminar sessão</a></li>
	</ul>

	<ul id='dropdown-criar' class='dropdown-content'>
		<li><a href="{% url 'professor:novo-curso' %}" class="grey-text text-darken-2">Novo curso</a></li>
		<!-- <li><a href="{% url 'professor:turmas' %}" class="grey-text text-darken-2">Nova turma</a></li> -->
	</ul>

	<div class="">
		<nav class="white" style="border-bottom: 1.3px solid #dedede;">
			<div class="nav-wrapper container">
				<a href="{% url 'website:index' %}" class="black-text brand-logo">Logo </a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger grey-text text-darken-4"><i
						class="fa fa-bars"></i></a>

				<ul class="right hide-on-med-and-down negrito">
					<li><a class="grey-text text-darken-4" href="{% url 'professor:index' %} ">Início</a></li>
					<li><a class="grey-text text-darken-4" href="{% url 'professor:meus-cursos' %}">Meus cursos</a></li>
					<li><a class="grey-text text-darken-4" href="{% url 'professor:ajuda' %} ">Ajuda</a></li>
					<li><a class="grey-text text-darken-4" href="{% url 'chatUser:chat-user' %} ">Caixa de mensagem</a>
					</li>
					<li><a class=" btn btn-small green white-text negrito borda-2 z-depth-0 dropdown-trigger"
							href="#dropdown-criar"> Criar novo <span class="fa fa-angle-down"></span></a></li>
					<li>
						<div class="chip dropdown-trigger" data-target='dropdown-perfil'>
							<img src="{% static 'user.png' %}" alt="perfil">
							{{request.user.email}} <span class="fa fa-angle-down"></span>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>


	<ul class="sidenav" id="mobile-demo">
		<li><a class="grey-text text-darken-4" href="{% url 'professor:index' %} ">Início</a></li>
		<li><a class="grey-text text-darken-4" href="{% url 'professor:meus-cursos' %}">Meus cursos</a></li>
		<li><a class="grey-text text-darken-4" href="{% url 'professor:ajuda' %} ">Ajuda</a></li>
		<li><a class="grey-text text-darken-4" href="{% url 'chatUser:chat-user' %} ">Caixa de mensagem</a></li>
		<li><a href="{% url 'professor:novo-curso' %}" class="btn green z-depth-0">Novo curso</a></li>
		<!-- <li><a href="{% url 'professor:turmas' %}" class="btn green z-depth-0">Nova turma</a></li> -->
		<li><a href="" class="grey-text text-darken-4"><span class="fa fa-edit"></span> Minha conta</a></li>
		<li><a href="{% url 'accounts:logout-user' %}" class="grey-text text-darken-4"><span class="fa fa-power-off"></span> Terminar sessão</a></li>
		<li>
			<div class="chip dropdown-trigger">
				<img src="{% static 'user.png' %}" alt="{{request.user}}">
				{{request.user.email}}
			</div>
		</li>
	</ul>

	<div style="min-height: 100vh;">
		{% block content %}

		{% endblock %}
	</div>

	<footer class="grey lighten-2 espaco-p-1" style="border-top: 1px solid #d0d0d0">
		<div class="container">
			<div class="row">
				<div class="col s12 l8 m12">

				</div>
				<div class="col s12 l4 m12 right-align">
					<span class="">Copyright &copy;
						<script>document.write(new Date().getFullYear())</script> Anilésio Xavier
					</span> <br>
					<span>Plataforma desenvolvido por Anilésio Xavier </span>
				</div>
			</div>
		</div>
	</footer>
	<script>

		// Or with jQuery

		$(document).ready(function () {
			$('.sidenav').sidenav();
		});
	</script>

	<script>
		$(document).ready(function () {
			$('.slider').slider();
		});
	</script>

	<script>

		// Or with jQuery

		$('.dropdown-trigger').dropdown();
	</script>

	<script>
		$(document).ready(function () {
			$('.collapsible').collapsible();
		});
	</script>


	{% if messages %}
	<script>
		window.onload = function () {
			{% for message in messages %}
			$.notify("{{message}}", {% if message.tags %} "{{ message.tags }}" {% endif %});
		{% endfor %}
				}
	</script>
	{% endif %}



</body>

</html>