{% extends 'base_estudante.html' %}
{% block title %}  {{objecto.titulo}}  {% endblock %}
{% block content %}
{% load static %}

<style>
    p{
        line-height: 25pt;
    }
</style>

<nav class="grey lighten-5 z-depth-0">
    <div class="container nav-wrapper">
        <div class="col s12 right">
            <a href="{% url 'estudante:ajuda' %}" class="grey-text">Voltar para Centrar de ajuda </a>

        </div>
    </div>
</nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 white borda">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card z-depth-0">
                          <div class="card-content texto-justificado">
                            <h5 class="negrito grey-text text-darken-2">{{objecto.titulo}} </h5>
                            <p>{{objecto.descricao}} </p>
                            <hr>
                            <p><span class="grey-text text-darken-1">{{objecto.usuario}} </span> <span class="grey-text texto-italic">Atualizado em {{objecto.data_criacao}}</span></p>

                          </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col s12 m12 l4">
                <div class="row">
    
                    <div class="col s12 m12 s12">
                        <h6 class="collection-header negrito grey-text text-darken-2 texto-1">Mais artigos sobre <span class="titulo-4">{{categoria.titulo}}</span> </h6>
                        <hr>
                        <div class="collection with-header sem-borda">
                            {% for item in artigos %}
                            <a href="{% url 'estudante:ver-artigo' pk=item.id %} " class="grey-text text-darken-4 collection-item grey lighten-5"> {{item.titulo}} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="{% url 'professor:reportar-erro' %} " class="btnAnimacao btn borda-3 hoverable z-depth-1 blue btn-large darken-1 open-button btn modal-trigger">
    <i class="fa fa-cog"></i>
    <span style="position: relative; top: -7%; left: 3%;">Reportar erro</span>
</a>

<!-- fim conteudo -->

{% endblock %}